@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: 'Quicksand';
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #ededed;
}
.navbar h1 {
  color: #0096ff;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #0096ff;
}
.navbar a.new {
  color: white;
  background-color: #0096ff;
  padding: 10px;
  border-radius: 12px;
}
.navbar a.new:hover {
  opacity: 90%;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-left: 5px solid #0096ff;
}
.blog-preview:hover {
  box-shadow: 3px 5px 5px #ceebff;
  cursor: pointer;
}

/* LOADING ANIMATION */

.loading {
  display: flex;
  justify-content: space-around;
}

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #0096ff;
  color: #0096ff;
  box-shadow: 9999px 0 0 -5px #0096ff;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #0096ff;
  color: #0096ff;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #0096ff;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #0096ff;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #0096ff;
  }
  30% {
    box-shadow: 9984px 0 0 2px #0096ff;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #0096ff;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #0096ff;
  }
  30% {
    box-shadow: 9999px 0 0 2px #0096ff;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #0096ff;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #0096ff;
  }
  30% {
    box-shadow: 10014px 0 0 2px #0096ff;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #0096ff;
  }
}

/* BLOG-CSS */

.blog-preview a {
  text-decoration: none;
}

article p {
  font-size: smaller;
}

article div {
  padding-top: 20px;
  text-align: justify;
}

article button {
  border: none;
  color: white;
  font-size: 16px;
  justify-content: right;
  background-color: #d82148;
  border-radius: 8px;
  padding: 5px 8px;
  margin-top: 10px;
  cursor: pointer;
}

article button:hover {
  opacity: 90%;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #0096ff;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #0096ff;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
